/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Set font-family for the whole document */
body {
    font-family: Poppins, sans-serif;
}

/* Style for the container holding the To-Do List */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}

/* Style for the To-Do List app */
.todo-app {
    width: 100%;
    max-width: 540px;
    background: rgb(234, 227, 227);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/* Style for the heading of the To-Do List */
.todo-app h2 {
    color: #b117d8;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for the icon inside the heading */
.todo-app img {
    margin-left: 10px;
    width: 30px;
}

/* Style for the row containing the input field and button */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #59dbd0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Style for the input field */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

/* Style for the button */
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* Style for the list items */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* Style for the checkbox icon */
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
